---
import HomeSectionDesktop from "./HomeSectionDesktop";
import HomeSectionMobile from "./HomeSectionMobile";
import ScrollIndicator from "./ScrollIndicator";

---
<>
    <style>
    .buffer-top {
        top: calc(-50svh + 102px);
        @media (max-width: 768px) {
            top: calc(-50svh + 74px);
        }
    }
    .buffer-bottom {
        top: calc(50svh - 102px);
        @media (max-width: 768px) {
            top: calc(50svh - 74px);
        }
    }
    </style>
    <script>
        const handleScroll = () => {
			const element = document.getElementById("home");
			// window.innerHeight on mobile changes when the menu is visible
			// so we need to use the svh element to calculate the height
			const smallHeight: any = document.getElementById("svh")?.clientHeight;
			const iconHeight = window.innerWidth > 768 ? 204 : 148;
			if (!element) return;
			if (window.scrollY > window.innerHeight) {
				element.classList.remove("fixed", "buffer-top");
				element.classList.add("absolute");
			} else if (window.scrollY > smallHeight - iconHeight) {
				element.classList.remove("absolute", "buffer-bottom");
				element.classList.add("fixed", "buffer-top");
			} else if (window.scrollY > smallHeight * 0.5 - iconHeight / 2) {
				element.classList.remove("fixed");
				element.classList.add("absolute", "buffer-bottom");
			} else {
				element.classList.remove("absolute", "buffer-bottom", "buffer-top");
				element.classList.add("fixed");
			}
		};

		window.addEventListener("scroll", handleScroll);
    </script>
    <section id="home" class="absolute w-full">
    <div class="hidden md:block">
        <HomeSectionDesktop client:load />
    </div>
    <div class="block md:hidden">
        <HomeSectionMobile client:load />
    </div>
    </section>
    <!-- Buffer so the scrolling works as intended -->
    <div id="svh" class="h-svh"></div>
    <ScrollIndicator client:idle />
</>